*{
    padding: 0;
    margin: 0;
}
body{
    padding-top: -2rem;
    margin-top: -2rem;
    height: 200vh;
    /* overflow: hidden; */
}
.main_one{
    position:relative;
    display:inline-block;
    top: -8rem;
}
/*  */
#map_child{
    display: inline-block;
    height:100vh;
    width: 60vw;
}
#container{
    display: inline-block;
    position: relative;
    top: -1.7rem;
    left: 32rem;
    z-index: 1;
}
.icon{
    color: black;
    font-size: 30px;
    display: inline-block;
    position: relative;
    left:1rem;
}
.heading{
    display: inline-block;
    position: relative;
    left: 10rem;
    top: 4rem;
    z-index: 2;
}
#title{
    display: inline-block;
    font-size: 40px;
    color: black;
    font-weight:800;
    z-index: 2;
    font-family: sans-serif;
}
.nav_bar{
    display: inline-block;
    position: relative;
    left: 25rem;
    top: 3rem;
    z-index: 2;
}
.nav_bar li{
    display: inline-block;
    list-style: none;
    padding-right: 1rem;
}
.nav_bar li a{
    display:  inline-block;
    color: black;
    text-decoration: none;
}
.title{
    display: inline-block;
    position: relative;
    top: -12rem;
    right: 44rem;
    width: 35vw;
    z-index: 2;
}
#title1{
    font-size: 50px;
}
#title3{
    font-size: 50px;
    z-index: 2;
}
.ngo_title{
    width: 60vw;
    position: relative;
    left: 4rem;
    top: -160vh;
    z-index: 2;
}
.listing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: -160vh;
}
.ngo_image{
    width: 25vw;
    height: 40vh;
    /* box-shadow: 0px 0px 4px 4px grey; */
    margin-top: 0.4rem;
    margin-left: 1rem;
    border-radius: 20%;
    border: 2px solid black;
}
.patches{
    display: inline-block;
    z-index: 1;
}
#patch1{
    display: inline-block;
    z-index: 1;
    position: absolute;
    scale: 60%;
    transform: rotate(30deg);
    top: 27rem;
    right: 27rem;
    opacity: 0.6;
}
#patch2{
    display: inline-block;
    z-index: 1;
    position: absolute;
    scale: 90%;
    transform: rotate(0deg);
    top: 12rem;
    right:5rem;
    opacity: 0.5;
}
#patch3{
    display: inline-block;
    z-index: 1;
    position: absolute;
    scale: 80%;
    transform: rotate(350deg);
    top: -4rem;
    right: 41rem;
    opacity: 0.4;
}
#patch4{
    display: inline-block;
    z-index: 1;
    position: absolute;
    scale: 60%;
    transform: rotate(30deg);
    top: 24rem;
    right: 27rem;
    opacity: 0.6;
}
#patch5{
    display: inline-block;
    z-index: 1;
    position: absolute;
    scale: 90%;
    transform: rotate(350deg);
    top: 5rem;
    right: 11rem;
    opacity: 0.4;
}
#patch6{
    display: inline-block;
    z-index: 1;
    position: absolute;
    scale: 101%;
    transform: rotate(350deg);
    top: 11rem;
    right: 44rem;
    opacity: 0.4;
}
#patch7{
    display: inline-block;
    z-index: 1;
    position: absolute;
    scale: 13%;
    top: -24rem;
    right: 60rem;
    opacity: 0.8;
}
.ngo_list{
    position: relative;
    top: -50vh;
}
/* .box_of_homes:hover{
    scale: 110%;
    border: 2px solid black;
} */
#map_design_image{
    display: inline-block;
    width: 500px;
    height: 500px;
    margin-top: -18rem;
    /* position:absolute; */
    margin-left: 40rem;
    /* margin-top: 5rem; */
}
.map_design{
    display: inline-block;
}
#map_design_heading1{
    display:inline-block;
    /* position: absolute; */
    font-size: 40px;
    /* margin-top: 7rem; */
}
#map_design_heading2{
    display:inline-block;
    /* position: absolute; */
    font-size: 40px;
    /* margin-top: 11rem; */
}
.donation{
    display: block;
    /* position:absolute; */
}
#donation_image{
    display: inline-block;
    /* position: absolute; */
}
.text{
    display: inline-block;
    position: absolute;
}

.points{
    display: inline-block;
    position: absolute;
}
.text1{
    position: absolute;
    top: -16rem;
    left: 6rem;
}
#text0{
    position: absolute;
    top: -3rem;
}
.text2{
    position: absolute;
    top: -13rem;
    left: 8rem;
    font-size: 20px;
}
.text3{
    position: absolute;
    top: -4rem;
    left: 6rem;
}
.text5{
    position: absolute;
    top: -14rem;
    left: 19rem;
}
.text7{
    position: absolute;
    top: -1.5rem;
    left: 19rem;
}
.text4{
    position: absolute;
    top: -2rem;
    left: 8rem;
    font-size: 20px;
}
.text6{
    position: absolute;
    top: -11rem;
    left: 20rem;
    font-size: 20px;
}
.text8{
    position: absolute;
    top: 1rem;
    left: 20rem;
    font-size: 20px;
}
.color{
    width: 40px;
    height: 40px;
    display: flex;
    /* position: absolute; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.color1{
    border-radius: 40%;
    background-color: #F7B70E;
    /* margin-top: 18rem; */
    margin-left: 5rem;
}
.color2{
    border-radius: 40%;
    background-color: #80B433;
    /* margin-top: 18rem; */
    margin-left: 18rem;
}
.color3{
    border-radius: 40%;
    background-color: #F7B70E;
    margin-left: 5rem;
    margin-top: 7rem;
}
.color4{
    border-radius: 40%;
    background-color: #80B433;
    margin-left: 18rem;
    /* margin-top: 27rem; */
}
#experience{
    width: auto;
    height: auto;
    /* box-shadow: 0px 1px 0px 0px grey; */
    padding: 3px;
    border-left:60px solid #737270;
    border-right:60px solid #757473;
}
#exp{
    text-align: center;
}
#experience_head{
    display: inline-block;
    text-align: center;
    color: rgb(10, 10, 10);
    margin: 4rem;
    font-size: 30px;
    font-weight:400;
    margin-left: 0px;
}
.ex_image{
    color: rgb(13, 13, 14);
    width: 40px;
    font-size: 30px;
    display: inline-block;
}
.box{
    width: 70vw;
    height: 170vh;
    position: relative;
    margin: auto;
    /* border: 2px solid black; */
}
.left1{
    background-color: #F7B70E;
    width: 40%;
    height: 25%;
    /* border: 2px solid black; */
    position: absolute;
    top: 2rem;
    left: 1rem;
}
.right1{
    background-color: #80B433;
    width: 40%;
    height: 25%;
    /* border: 2px solid black; */
    position: absolute;
    top: 27%;
    right:1rem;
}
.left{
    background-color:#F7B70E;
    width: 40%;
    height: 25%;
    /* border: 2px solid black; */
    position: absolute;
    top: 52%;
    left: 1rem;
}
.right{
    background-color: #80B433;
    width: 40%;
    height: 25%;
    /* border: 2px solid black; */
    position: absolute;
    top: 75%;
    right: 1rem;
}
#plane{
    color: black;
    font-size: 45px;
    width: 40px;
    position: sticky;
    top: 20%;
    left: 46.6%;
    bottom:25%;
    margin: 3rem 0px 6rem;
    z-index: 2;
}
.line{
    border: 3px dashed rgb(12, 12, 12);
    width: 0px;
    height: 75%;
    position: absolute;
    top: 10%;
    left: 49%;
}
.dot1,.dot2,.dot3,.dot4{
    position: absolute;
    font-size: 30px;
    color:#0f0f0f;
    width: 20px;
    display: inline-block;
    left: 47.5%;
}
.dot1{
    top: 9%;
}
.dot2{
    top: 35%;
}
.dot3{
    top: 61%;
}
.dot4{
    top: 85%;
}
#logo_in_ngo{
    width: 80px;
    height:80px;
}
#image_last{
    margin-top: 40vh;
    display: inline-block;
    position: relative;
    height: 50vh;
    width: 50vw;
    margin-bottom: 30vh;
    margin-left: 2rem;
    border-right: 23vw solid black;
    border-left: 21vw solid black;
}

.button {
    margin:3rem 253px 3rem 12rem;
    height: 50px;
    width: 20%;
    background-color: transparent;
    border: 2px solid rgb(13, 13, 13);
    text-transform: uppercase;
    background-color: #F7B70E;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 100px;
}
.button a{
    color: black;
    text-decoration: none;
   
}
.btn{
    right: 100px;
   
}
#title0{
    color: #F7B70E;
}