*{
  padding: 0 ;
  margin: 0;
}
.main{
  display: flex;
  margin-left: -5rem;
  border-right: 60px solid antiquewhite;
  justify-content: center;
  flex-wrap: wrap;
  display: inline-block;
  cursor: url(images\search-icon.png);
  width:100vw;
  height: 120vh;
  background-color: antiquewhite; 
  position: relative;

}
.north{
  position:relative;
  display: inline-block;
  top: 4.8rem;
  left: 25.7rem;
  transition: all 1s, scale 3s, traslate 3s ease-in-out;
  cursor: url(images\search-icon.png),auto;
}
.east{
  position: relative;
  top: 15.8rem;
  display: inline-block;
  left: 22rem;
  transition: all 1s,scale 3s,traslate 3s ease-in-out;
}
.west{
  position: relative;
  display: inline-block;
  top: 17.8rem;
  left: -15.9rem;
  transition: all 1s, scale 3s , traslate 3s ease-in-out;
}
.south{
  position: relative;
  display: inline-block;
  top: 21.3rem;
  left: -24.7rem; 
  transition: all 1s, scale 3s , traslate 3s ease-in-out;
}
.north:hover{
  scale: 170%;
  translate: 5rem 12rem;
  z-index: 1;
  color:black;
}
.east:hover{
  scale: 135%;
  translate: -3rem 2rem;
  z-index: 1;
  color:black;
}
.west:hover{
  scale: 170%;
  translate: 9rem 3rem;
  z-index: 1;
  color:black;
}
.south:hover{
  scale: 170%;
  translate: 0rem -3rem;
  z-index: 1;
  color:black;

}
/* #arrow{
  display: inline-block;
  position: relative;
  top: 1rem;
  left: 20rem;
  width: 35px;
  height: 120px;
  transform: rotate(270deg);
} */
/* #text{
  position: relative;
  top: 10px;
} */
/* #mapimg1 , #mapimg2 ,#mapimg3,#mapimg4{
  display: inline-block;
}
#mapimg1:hover, #mapimg2:hover ,#mapimg3:hover ,#mapimg4:hover { 
  border: 2px solid darkblue;
  box-shadow: 0px 0px 2px 2px rgb(204, 204, 212);
 }
   */
.maps_store{
  display: inline-block;
  position: relative;
  top: -8rem;
  left: 10rem;

}
#heading_delhi{
  font-size: 50px;
  color:blue;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  left: 21rem;
  top: 8rem;
}
#heading_delhi_eng{
  font-size: 50px;
  color:#FAEBD7;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  left: 51rem;
  top: 8rem;
}
.nav_bar{
  text-align: center;
  background-image: url(images/Orphange-Support-Program-Home\ Banner\(1\).png);
  /* background-image: url(images/macbook_mouse.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  background-attachment:scroll;
  backdrop-filter: opacity(0.8);
  z-index: -1;
}

#social{
  text-align: right;
}
#social li{
  display: inline-block;
  list-style: none;
  padding-inline-start: -40px;
  padding: 1rem 1rem 0rem 1rem;
}
#social li  a{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  /* padding: 5px; */
  /* margin-top: 2rem; */
  font-size:25px;
  color:white;
  padding: 2rem 1rem 0rem 1rem;
  transition: all 0.5 ease-in-out;
  /* color: red; */
}
#social li a:hover{
  /* box-shadow: 0px 0px 3px 5px rgb(250, 249, 249); */
  border-bottom: 0px;
  color: white;
  font-size: 35px;
}
.main_head{
  display: inline-block;
  color: rgb(247, 242, 242);
  text-transform: uppercase;
  text-align: center;
  font-size: 70px;
  margin-top: 7rem;
  text-shadow: 0px 0px 10px rgb(5, 5, 5);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.falling-text {
  opacity: 1;
  animation-name: fallingAnimation;
  animation-duration: 1.5s; /* Adjust the duration as desired */
  animation-timing-function: ease-in-out; /* Adjust the timing function as desired */
  animation-fill-mode: both;
}
.i11{
  animation-duration: .5s;
}
.i12{
  animation-duration: .8s;
}
.i13{
  animation-duration: 1.1s;
}
.i14{
  animation-duration: 1.4s;
}
.i15{
  animation-duration: 1.7s;
}
.i16{
  animation-duration: 2s;
}
.i17{
  animation-duration: 2.3s;
}
.i18{
  animation-duration: 2.6s;
}
.i19{
  animation-duration: 2.9s;
}
.i10{
  animation-duration: 3.2s;
}
.i111{
  animation-duration: 3.5s;
}
.i112{
  animation-duration: 3.8s;
}
.i113{
  animation-duration: 4s;
}
/* .quote{
  display: inline-block;
  color: rgb(247, 242, 242);
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  text-shadow: 0px 0px 6px rgb(5, 5, 5);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
.i114{
  font-size: 20px;
  animation-duration: 2s;
  margin-top: 1rem;
  overflow: hidden;
}

@keyframes fallingAnimation {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.box1 , .box2 ,.box3,.box4{
  width: 20vw;
  height: 50vh;
  display: inline-block;
  position: relative;
  border-radius: 20%;;
  box-shadow: 0px 0px 4px 4px black;
  transition: all 0.5s;
  overflow: hidden;
}
.box1:hover , .box2:hover ,.box3:hover, .box4:hover{
 scale: 115%;
}
.box1{
  background-color:rgb(208, 178, 121) ;
  z-index: 2;
  top:-4rem;
  left: 7rem;
}
.box2{
  background-color: rgb(210, 178, 118);
  z-index: 2;
  top:-4rem;
  left: 11rem;
}
.box3{
  background-color: rgb(206, 171, 107);
  z-index: 2;
  top:-4rem;
  left: 15rem;
}
.box4{
  background-color:rgb(187, 155, 96) ;
  z-index: 2;
  top:-4rem;
  left: 19rem;
}
.boxes{
  background-color: antiquewhite;
  width: 100vw;
  margin-right: auto;
  justify-content: center;
  margin-left: -5rem;
  border-right: 60px solid antiquewhite;
}
#text_of_image{
  display: inline-block;
  width: 40vw;
  height: auto;
  text-align: justify;
  margin: 0px 0px 0px 650px;

}
#imageee{
  display: inline-block;
  position:sticky;
  top: 2rem;
  left: 30px;
  margin: 40px 0px 0px 170px;
  box-shadow: 2px 2px 4px 4px black;
}
.imagee{
  display: block;
  background-color: antiquewhite;
  height: auto;
}
.iii{
  width: 100vw;
  height: 100vh;
  background-color: rgb(219, 131, 15);
  margin-left: -5rem;
  border-right: 60px solid antiquewhite;
}
#image11{
  display: inline-block;
  position: relative;
  top: 0;
  width: 100%;
  height: 60%;
  /* border-top-left-radius: 20%; */
}
.main_boxxx{
  background-color: #FAEBD7;
}
.head-contact{
  text-align: center;
}
.tag-contact{
  display: inline-block;
  text-align: center;
  color: rgb(7, 7, 7);
  margin: 4rem;
  font-size: 30px;
  font-weight:400;
  margin-left: 0px;
}
.image_contact{
  color: rgb(8, 7, 7);
  width: 40px;
  font-size: 30px;
  display: inline-block;
}
.form{
  display: inline-block;
  width: 40%;
  margin-left: 5rem;
}
.form label{
  color: rgb(9, 9, 9);
}
.form input ,.form textarea{
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid rgb(8, 8, 8);
  margin-bottom: 1rem;
  margin-left: 0px;
  color: rgb(14, 13, 13);
  height: 30px;
  width: 100%;
}
.form button{
  margin:2rem 0px 2rem 7rem;
  height: 40px;
  width: 40%;
  background-color: transparent;
  border: 2px solid rgb(10, 10, 10);
  color: rgb(5, 5, 5);
  text-transform: uppercase;
}
#social_2{
  list-style: none;
  display: inline-block;
  padding-left: 27rem;

}
#social_2 li{
  display: inline-block;
  text-align: center;
}
#social_2 .fa-brands{
  color: rgb(12, 12, 12);
  padding: 2rem;
  width: 40px;
  font-size: 2rem;
}
.get_in_touch{
  display: inline-block;
  width: 40%;
  color:#FAEBD7;
  padding-left: 4rem;
}